body {
    background-color: #f9f9f9;
}

.container {
    max-width: 900px;
}

#itemList li {
    cursor: grab;
}

.category-box {
    width: 150px;
    height: 150px;
    border: 2px dashed #6c757d;
    background-color: #f8f9fa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
}

.category-box h2 {
    font-size: 1rem;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid #6c757d;
}

.category-box ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.category-box li {
    padding: 5px;
    background-color: #dfe3e6;
    border-radius: 5px;
    margin-bottom: 5px;
}
