body {
    background-color: #f9f9f9;
}

.container {
    max-width: 900px;
}

#itemList li {
    cursor: grab;
}

/* Buborék stílus */
.category-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
    transition: transform 0.3s;
    border: 3px solid transparent;
}

.category-box:hover {
    transform: scale(1.1);
}

.category-box h2 {
    font-size: 1rem;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid #6c757d;
}

.category-box ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.category-box li {
    padding: 5px;
    background-color: #dfe3e6;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* Véletlenszerű színek a buborékoknak */
.random-color-1 { background-color: #ff6b6b; }
.random-color-2 { background-color: #6bc1ff; }
.random-color-3 { background-color: #ffd56b; }
.random-color-4 { background-color: #6bff7d; }
.random-color-5 { background-color: #ab6bff; }
.random-color-6 { background-color: #ff6be7; }

/* Középre helyezés */
#categoriesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
