.container {
    max-width: 900px;
}

#itemList li {
    cursor: grab;
}

.category-box {
    border: 2px dashed #6c757d;
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 150px;
}

.category-box h2 {
    font-size: 1.25rem;
}

ul {
    list-style: none;
    padding-left: 0;
}
